<!-- Page Header -->
<app-header [pageInformation]="pageInfo"></app-header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ng-container *ngFor="let blogPost of postInfo">
        <div class="post-preview">
          <a routerLink="post/{{blogPost.id}}">
            <h2 class="post-title">
              {{blogPost.heading}}
            </h2>
            <h3 class="post-subtitle">
              {{blogPost.subHeading}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a routerLink="about">{{blogPost.author}}</a>
            on {{blogPost.date}}</p>
        </div>
        <hr>
      </ng-container>
      <!-- Pager -->
<!--      <app-pager></app-pager>-->
    </div>
  </div>
</div>
