<!-- Page Header -->
<app-header [isContact]="true" [pageInformation]="pageInfo"></app-header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Want to get in touch? Click the link below to send me a message or send an email to <span class="font-italic">subtleinvesting@gmail.com</span>, and I will get back to you as soon as possible!</p>
      <p class="text-center"><a href = "mailto: subtleinvesting+contact@gmail.com">SubtleInvesting@gmail.com</a></p>
      <p class="text-center"><i class="fa fa-arrow-down"></i> Also check me out on all of the platforms below! <i class="fa fa-arrow-down"></i></p>
    </div>
  </div>
</div>
